<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="APPLICATION" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %mdc %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="REACTOR-ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>10</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="APPLICATION" />
    </appender>

    <logger name="reactor" additivity="false" level="debug">
        <appender-ref ref="REACTOR-ASYNC"/>
    </logger>
    <logger name="io.netty" additivity="false" level="debug">
        <appender-ref ref="REACTOR-ASYNC"/>
    </logger>

    <root level="debug">
        <appender-ref ref="APPLICATION" />
    </root>
</configuration>
